*{
    margin: 0;
    padding: 0;
    text-align: center;
}

.div{
    display: grid;
    grid-template-areas: "topo"
                         "menu";
    grid-template-rows: 15% 85%;
}

.menu{
    grid-area: menu;
    padding-top: 50px;
}

.topo{
    grid-area: topo;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 32;
    padding-top: 40px;
    border: 1px solid black;
}